# ENTORNO

APP_NAME=DEFINIR
APP_ENV=DEFINIR

APP_DEBUG=DEFINIR

# JWT

JWT_SECRET_KEY=DEFINIR


# Credenciales de acceso a base de datos

DB_HOST=DEFINIR
DB_PORT=DEFINIR
DB_NAME=DEFINIR

DB_USER=DEFINIR
DB_PASS=DEFINIR
