# ENTORNO

APP_ENV=DEFINIR
APP_DEBUG=DEFINIR

APP_NAME=DEFINIR
APP_DESC=DEFINIR



# CONFIGURACIÓN DE KEYCLOAK
KEYCLOAK_URL=DEFINIR
KEYCLOAK_REALM=DEFINIR
KEYCLOAK_CLIENT_ID=DEFINIR
KEYCLOAK_CLIENT_SECRET=DEFINIR


# Credenciales de acceso a base de datos
DB_HOST=DEFINIR
DB_PORT=DEFINIR
DB_NAME=DEFINIR

DB_USER=DEFINIR
DB_PASS=DEFINIR