.file-uploader {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  background: #f1f3f6;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  position: relative;
  transition: transofrm .3s ease;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.file-uploader .error-message {
  transition: opacity 0.3s ease;
}

.file-uploader:hover {
  cursor: pointer;
  outline: 1px solid #d4e0f1;
}

.uploader-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  padding: 2px 6px;
  border-radius: 5px;
}

.clear-btn>i {
  position: relative;
  top: .5px;
}

.clear-btn:hover {
  background-color: #ffe0e0 !important;
}

.status-text {
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.archivos {
  display: inline-block;
  font-size: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: #568afd;
  border-radius: 50%;
  margin-left: 3px;
}

.file-list-container {
    overflow-y: scroll;
    max-height: 115px;
    padding: 0;
}

.file-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: all .2s ease;
}

.file-item {
  background: #757b8f;
  color: white;
  width: 100%;
  padding: 5px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(-6px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.file-item:hover .delete-item {
  opacity: 1;
}

.file-item.exit {
  opacity: 0;
  transform: translateY(-6px);
}

.delete-item {
  transition: all .1s ease;
  opacity: 0;
}

.delete-item:hover {
  color: #ff8583;
}

.upload-image {
  width: 35px;
  margin: 0 auto 8px;
}

.file-item.enter {
  opacity: 1;
  transform: translateY(0);
}

.file-item .name {
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.file-item .size {
  color: #BBBDC5;
  font-size: 8.5px;
  font-weight: 600;
  letter-spacing: .4px;
}

.file-item .remove,
.file-item .upload {
  cursor: pointer;
  margin-left: 10px;
}